language: python

os:
  - linux

env:
  global:
    - TIMEFORMAT='%4R'
    - CHAPEL_HOME=~/chapel-1.16.0
    - CHPL_AUX_FILESYS=curl

cache:
  directories:
    - $HOME/chapel-1.16.0

install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq gcc libopenblas-dev liblapack-dev wget 
  - pip install pytest scipy
  - ./build_install_chapel.sh

script:
  - source ${CHAPEL_HOME}/util/setchplenv.bash
  - pytest tests
  - cat timings.txt
