language: python

os:
  - linux

cache:
  directories:
    - $HOME/chapel-1.16.0

install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq gcc libopenblas-dev liblapack-dev wget 
  - pip install pytest scipy
  - ./build_install_chapel.sh

script:
  - export CHAPEL_HOME=~/chapel-1.16.0
  - export CHPL_AUX_FILESYS=curl
  - source ${CHAPEL_HOME}/util/setchplenv.bash
  - pytest tests
